h1{
   font-size: 50px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 100;
}
b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}